body{
    color: deeppink;
    text-align:  center;
    font-family: 'Courier New';
}


#container{

    width: 70%;
    padding: 1em;
    text-align: left;
    border : 1px solid
}

#cabecera {
    color: aqua;
}